@use '../mixins/fluid-size' as size;
@use '../mixins/disable-mob-hover' as mobile;

.footer {
	--footer-space: calc(var(--scale) * 1);

    /* прижимаем футре к нижней границе экрана */
    margin-top: auto;

    background-color: var(--black-gray);
    color: var(--white);
    line-height: 1.2;

    &__content {
        @include size.calculate(padding-top, 480px, 1460px, 30px, 60px);
        @include size.calculate(padding-bottom, 480px, 1460px, 30px, 60px);
    }

    * + &__label {
        margin-top: var(--footer-space);
    }

    &__label {
        @include size.calculate(font-size, 480px, 1460px, 12px, 14px);
        text-transform: uppercase;
        color: var(--gray);
    }

    &__label + * {
        margin-top: calc(var(--scale) * 0.6);
    }

    &__logo {
         max-width: 260px;
    }

    &__social {
        svg {
            fill: var(--gray);
            transition: var(--fast);
        }

        @include mobile.hover {
            svg {
                fill: var(--beige-accent);
            }
        }        
    }

    &__nav + * {
        margin-top: calc(var(--scale) * 2);
    }

    &__menu {

        li {
            color: var(--white);
            @include size.calculate(font-size, 480px, 1460px, 18px, 24px);
            letter-spacing: -0.04em;

            * {
                color: inherit;
            }

            a:hover {
                color: var(--beige-accent);
            }
        }

        li + li {
            margin-top: calc(var(--scale) * 0.6);
        }
    }

    &__bottom {
        border-top: 1px solid var(--gray);
    }
    
    &__links {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 40px;
        @include size.calculate(font-size, 480px, 1460px, 10px, 14px);
        color: var(--gray);

        * {
            font-size: inherit;
            color: inherit;
        }

        a {
            @include mobile.hover {
                color: var(--beige-accent);
            }
        }
    }

    &__politic {
        display: flex;
        align-items: center;
        gap: 22px;
    }

    &__forweb {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 22px;

        > * {
            display: inline-block;
        }

        @include mobile.hover {
            color: var(--beige-accent);

            svg {
                fill: var(--beige-accent);
            }
        }

        svg {
            fill: var(--gray);
            transition: var(--fast);
        }
    }

    @media only screen and (max-width: 480px) {
        &__links {
            flex-direction: column;
        }

        &__forweb {
            margin-left: 0;
        }
    }
}