$image-path: '~src/img/background/';
.background-properties {
    /* обшщие свойства для фоновых картинок */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* версия стилей для WP фон для большого экрана на главной */
.background-hero-large {
    @extend .background-properties;

    /* версия фона для ПК */
    background-image: url('../img/background/hero/bg-large-hero-desktop.jpg');
    background-image: image-set(
        url("../img/background/hero/bg-large-hero-desktop.jpg") 1x type("image/jpeg"),
        url("../img/background/hero/bg-large-hero-desktop_x2.jpg") 2x type("image/jpeg"),
        url("../img/background/hero/bg-large-hero-desktop.webp") 1x type("image/webp"),
        url("../img/background/hero/bg-large-hero-desktop_x2.webp") 2x type("image/webp"),
        );
        
    /* версия фона для планшета */
    @media only screen and (max-width: 980px) {
        background-image: url("../img/background/hero/bg-large-hero-tablet.jpg");
        background-image: image-set(
            url("../img/background/hero/bg-large-hero-tablet.jpg") 1x type("image/jpeg"),
            url("../img/background/hero/bg-large-hero-tablet_x2.jpg") 2x type("image/jpeg"),
            url("../img/background/hero/bg-large-hero-tablet.webp") 1x type("image/webp"),
            url("../img/background/hero/bg-large-hero-tablet_x2.webp") 2x type("image/webp"),
        );
    }

    /* версия фона для смартфонов */
    @media only screen and (max-width: 480px) {
        background-image: url("../img/background/hero/bg-large-hero-phone.jpg");
        background-image: image-set(
            url("../img/background/hero/bg-large-hero-phone.jpg") 1x type("image/jpeg"),
            url("../img/background/hero/bg-large-hero-phone_x2.jpg") 2x type("image/jpeg"),
            url("../img/background/hero/bg-large-hero-phone.webp") 1x type("image/webp"),
            url("../img/background/hero/bg-large-hero-phone_x2.webp") 2x type("image/webp"),
        );
    }
}

/* версия с тилей для WP фон для стандартной страницы */
.background-hero {
    @extend .background-properties;

    /* версия фона для ПК */
    background-image: url("../img/background/hero/bg-hero-desktop.jpg");
    background-image: image-set(
        url("../img/background/hero/bg-hero-desktop.jpg") 1x type("image/jpeg"),
        url("../img/background/hero/bg-hero-desktop_x2.jpg") 2x type("image/jpeg"),
        url("../img/background/hero/bg-hero-desktop.webp") 1x type("image/webp"),
        url("../img/background/hero/bg-hero-desktop_x2.webp") 2x type("image/webp"),
        );
        
    /* версия фона для планшета */
    @media only screen and (max-width: 980px) {
        background-image: url("../img/background/hero/bg-hero-tablet.jpg");
        background-image: image-set(
            url("../img/background/hero/bg-hero-tablet.jpg") 1x type("image/jpeg"),
            url("../img/background/hero/bg-hero-tablet_x2.jpg") 2x type("image/jpeg"),
            url("../img/background/hero/bg-hero-tablet.webp") 1x type("image/webp"),
            url("../img/background/hero/bg-hero-tablet_x2.webp") 2x type("image/webp"),
        );
    }

    /* версия фона для смартфонов */
    @media only screen and (max-width: 480px) {
        background-image: url("../img/background/hero/bg-hero-phone.jpg");
        background-image: image-set(
            url("../img/background/hero/bg-hero-phone.jpg") 1x type("image/jpeg"),
            url("../img/background/hero/bg-hero-phone_x2.jpg") 2x type("image/jpeg"),
            url("../img/background/hero/bg-hero-phone.webp") 1x type("image/webp"),
            url("../img/background/hero/bg-hero-phone_x2.webp") 2x type("image/webp"),
        );
    }
}