@use '../mixins/fluid-size' as size;
@use '../layout/section';


.block-author {
    display: flex;

    > * {
        flex: 50%;
    }

    &__photo {
        height: auto;
        overflow: hidden;
        
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__content {
        @include size.calculate(padding, 480px, 1460px, 22px, 40px);
        background-color: var(--gray-light);
    }

    &__header {
        small {
            @include size.calculate(font-size, 480px, 1460px, 13px, 20px);
            color: var(--gray);
        }

        > small + * {
            margin-top: 20px;
        }
    }

    @media only screen and (max-width: 780px) {
        flex-direction: column;
        > * {
            flex: auto;
        }
    }

    @media only screen and (max-width: 680px) {
        &__header {
            > small + * {
                margin-top: 12px;
            }
        }
    }
}


.block-offer {
    padding-top: 70px;
    padding-bottom: 100px;
    padding-inline: 100px;
    position: relative;
    color: var(--white);

    &__bg,
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__bg {
        overflow: hidden;

        picture,
        img {
            height: 100%;
            width: 100%;
        }

        img {
            object-fit: cover;
        }
    }

    &__overlay {
        background: rgba(20, 35, 64, 0.8);
    }

    &__content {
        position: relative;
        display: flex;
        gap: 80px;

        *:not([class]) {
            color: inherit;
        }

        > * {
            flex: 50%;
        }
    }

    &__cta {
        @include size.calculate(font-size, 480px, 1460px, 16px, 20px);

        > * + *{
            margin-top: 30px;
        }
    }

    &__form {
        padding: 40px;
        max-width: 480px;
        background-color: var(--white);
    }

    @media only screen and (max-width: 680px) {
        padding: 30px;

        &__content {
            flex-direction: column;
            gap: 20px;
        }

        &__cta {
            > * + *{
                margin-top: 16px;
            }
        }

        &__form {
            padding: 20px;
        }
    }
}


.block-cta {
    display: flex;

    > * {
        flex: 50%;
    }

    
    &__form,
    &__header,
    &__body {
        position: relative;
    }
    
    &__form {
        @include size.calculate(padding, 480px, 1460px, 22px, 40px);

        .button {
            width: auto;
        }
    }

    &__header {
        line-height: 0.9;

        h2,h3,h4,h5,h6 {
            line-height: inherit;
            background-image: linear-gradient(225deg, #dac597 0%, #ecddbe 50.27%, #977f50 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }

        & + * {
            @include size.calculate(margin-top, 480px, 1460px, 20px, 30px);
        }
    }
    
    &__tagline {
        @include size.calculate(font-size, 480px, 1460px, 18px, 26px);
        line-height: 1.1;
        color: var(--gray-blue);

        & + * {
            @include size.calculate(margin-top, 480px, 1460px, 16px, 30px);
        }
    }

    &__img {
        height: auto;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    @media only screen and (max-width: 780px) {
        flex-direction: column-reverse;

        > * {
            flex: auto;
        }

        &__img {
            @include size.calculate(height, 480px, 780px, 280px, 400px);
        }
    }
}


.block-chesse {
    &__content {
        display: flex;
        
        > * {
            flex: 50%;
        }

        &:nth-child(odd) {
            [class*="__text"] {
                background-color: var(--beige-sky);
            }
        }

        &:nth-child(even) {
            flex-direction: row-reverse;
            
            [class*="__text"] {
                background-color: var(--gray-sky);
            }
        }
    }

    &__img {
        height: auto;
        @include size.calculate(min-height, 780px, 1460px, 300px, 460px);
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__text {
        @include size.calculate(padding, 480px, 1460px, 22px, 40px);
        color: var(--gray);

        > p + *:not([class*="button"]) {
            margin-top: 14px;
        }

        > * + [class*="button"] {
            margin-top: 20px;
        }
    }

    @media only screen and (max-width: 780px) {
        &__content {
            &:nth-child(even),
            &:nth-child(odd) {
                flex-direction: column;
            }

            > * {
                flex: auto;
            }
        }

        &__img {
            min-height: auto;
            @include size.calculate(height, 480px, 780px, 200px, 390px);
        }
    }

    @media only screen and (max-width: 680px) {
        &__text {
            > p + *:not([class*="button"]) {
                margin-top: 10px;
            }

            > * + [class*="button"] {
                margin-top: 14px;
            }
        }
    }
}


.block-section {
    position: relative;
    @include size.calculate(font-size, 480px, 1460px, 15px, 18px);
    line-height: 1.4;
    
    &__spacing {
        position: relative;
        @include size.calculate(padding-top, 480px, 1460px, 40px, 70px);
        @include size.calculate(padding-bottom, 480px, 1460px, 40px, 100px);
        @include size.calculate(padding-inline, 480px, 1460px, 22px, 60px);
        display: flex;
        flex-direction: column;
        justify-content: center;

        .offer & {
            @include size.calculate(padding-top, 480px, 1460px, 22px, 40px);
            @include size.calculate(padding-bottom, 480px, 1460px, 22px, 60px);
        }
    }

    &__img {
        flex-shrink: 0;
        height: auto;
        max-width: 38%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__content {
        position: relative;
        display: flex;

        .centered & {
            justify-content: center;
        }
    }
    
    &__tagline {
        @include size.calculate(font-size, 480px, 1460px, 18px, 26px);
        line-height: 1.4;
        color: var(--gray-blue);
        
        .darkness & {
            color: var(--white);
        }
        
        .white &,
        .gray-light &,
        .gray-sky &,
        .beige-sky & {
            color: var(--black);
        }
    }

    &.white {
        background-color: var(--white);
    }

    &.gray-light {
        background-color: var(--gray-light);
    }
    &.gray-sky {
        background-color: var(--gray-sky);
    }
    &.beige-sky {
        background-color: var(--beige-sky);
    }

    &.centered {
        text-align: center;
    }

    @media only screen and (max-width: 880px) {
        &__img {
            max-width: 50%;
        }
    }

    @media only screen and (max-width: 680px) {
        &__content {
            flex-direction: column-reverse;
        }

        &__img {
            max-width: none;
            @include size.calculate(max-height, 480px, 680px, 300px, 400px);
        }
    }
}