@use '../mixins/fluid-size' as size;
@use '../mixins/disable-mob-hover' as mobile;

.dropdown {
    position: relative;

    &__controle {
        display: flex;
        align-items: center;
        @include size.calculate(gap, 480px, 1460px, 4px, 8px);
        width: 100%;
        @include size.calculate(padding-inline, 480px, 1460px, 14px, 20px);
        height: var(--input-filter-height);
        border: 1px solid var(--gray-border);
        border-radius: 100px;
        background-color: var(--white);
        @include size.calculate(font-size, 480px, 1460px, 12px, 16px);
        letter-spacing: -0.04em;
        color: var(--gray-text);

        .active & {
            border-color: var(--black);
            color: var(--black);
        }

    }
    
    &__arrow {
        margin-left: auto;
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        fill: var(--beige-accent);
        transition: var(--fast);

        .active & {
            fill: var(--black);
            transform: rotate(180deg);
        }
    }

    &__delete {
        width: 20px;
        height: 20px;
        fill: red;
        overflow: hidden;

        &[data-delete="hidden"] {
            visibility: hidden;
            width: 0;
            height: 0;
        }
    }

    &__value {
        color: var(--black);

        &[data-select-value="default"] {
            color: var(--gray);
        }
    }

    &__list {
        position: absolute;
        transform: translateY(10%);
        left: 0;
        width: 100%;
        height: auto;
        padding: 8px;
        background-color: var(--white);
        box-shadow: 20px 20px 50px 0 rgba(0, 0, 0, 0.15);
        z-index: 1;
        transition: var(--fast);

        opacity: 0;
        pointer-events: none;

        .active & {
            transform: translateY(8px);
            opacity: 1;
            pointer-events: all;
        }
    }

    &__option {
        @include size.calculate(padding, 480px, 1460px, 8px, 14px);
        @include size.calculate(font-size, 480px, 1460px, 12px, 16px);
        color: var(--gray);
        transition: var(--fast);
        cursor: pointer;

        &:hover {
            background-color: var(--beige-hover);
            color: var(--black);
        }
    }

    @media only screen and (max-width: 480px) {
        &__arrow {
            width: 20px;
            height: 20px;
        }

        &__delete {
            width: 16px;
            height: 16px;
        }
    }
}