@use './mixins/fluid-size' as size;
@use '../mixins/disable-mob-hover' as mobile;

/* Input */
.input {
	height: var(--input-height);
	padding-inline: var(--input-space);
	border-radius: 8px;
    outline-width: 1px;
    outline-style: solid;
    outline-color: var(--gray-border);
    background-color: var(--white);
	@include size.calculate(font-size, 480px, 1460px, 14px, 17px);

	&::placeholder {
        color: var(--gray-text);
	}

	&:focus {
        outline-color: var(--input-focus);
        color: var(--black);

        .blured & {
            color: var(--white);
            outline-color: rgba(255, 255, 255, 0.4);
        }
	}

    .blured & {
        backdrop-filter: blur(14px);
        background-color: rgba(255, 255, 255, 0.08);
        outline-color: rgba(255, 255, 255, 0.2);
    }

    /* если инпут внутри формы подписки */
    .subscribe & {
        height: 46px;
        background-color: transparent;
        border-color: transparent;
        outline-color: transparent;
        @include size.calculate(font-size, 480px, 1460px, 12px, 16px);

        &::placeholder {
            color: var(--gray);
        }
        
        &:focus {
            color: var(--white);
        }
    }
}


/* Label */
.label {
	display: flex;
    @include size.calculate(font-size, 480px, 1460px, 13px, 15px);
	font-weight: 400;
	line-height: 1;
	transition: var(--fast);
	color: var(--gray);
	cursor: pointer;
    transition: var(--fast);

    @include mobile.hover {
        color: var(--black);

        .checkbox {
            border-color: var(--black)
        }

        .blured &,
        .subscribe & {
            color: var(--white);

            .checkbox {
                border-color: var(--white)
            }
        }
    }

	&--agree {
		@include size.calculate(font-size, 480px, 1460px, 12px, 15px);
		font-weight: 400;
		line-height: 1.2;

		.checkbox {
			top: -0.4em;
			width: var(--checkbox-size);
			height: var(--checkbox-size);
		}
	}

    a {
        color: inherit !important;
        text-decoration: underline !important;
        transition: none;
    }

    @media only screen and (max-width: 680px) {
        &--agree {
            .checkbox {
                top: -0.3em;
                width: 18px;
                height: 18px;
            }
        }
    }
}


.label + .input,
.label + .select-wrapper {
	margin-top: 12px;
}


/* Textarea */
.textarea {
	@extend .input;
    @include size.calculate(padding-top, 480px, 1460px, 8px, 12px);
    @include size.calculate(min-height, 480px, 1460px, 80px, 120px);
	resize: none;
}


/* Error */
.error {
	color: var(--spec-red);
}


/* Checkbox */
.checkbox {
	flex-shrink: 0;
	position: relative;
	top: -0.4em;
	margin-right: 0.8em;
	width: var(--checkbox-size);
	height: var(--checkbox-size);
	max-width: var(--checkbox-size);
	max-height: var(--checkbox-size);
	border: 1px solid var(--gray);
	border-radius: 3px;
	background-color: var(--white);
	transform: translateY(0.2em);
    transition: var(--fast);

	.forweb-modal__container & {
		width: 18px;
		height: 18px;
	}

	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		content: '';
		height: 50%;
		width: 50%;
		transform: scale(0);
		background-color: var(--black);
		transform-origin: bottom left;
		clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
	}

	&:checked {
		border-color: var(--beige-accent) !important;
		background-color: var(--beige-accent) !important;
	}

	&:checked + * {
		color: var(--black);

        .blured &,
        .subscribe & {
            color: var(--white);
        }
	}

	&:checked::before {
		transform: translate(-50%, -50%) scale(1);
	}

	&:disabled {
		border-color: var(--light-gray);
		background-color: var(--light-disabled);
	}

    .blured & {
        border-color: var(--gray-blue);
    }

    @media only screen and (max-width: 480px) {
        top: -0.3em;
		margin-right: 0.6em;
		width: 18px;
		height: 18px;
	}
}

/* Radio */
.radio {
	@extend .checkbox;
	border-radius: 50%;

	&::before {
		content: '';
		width: 8px;
		height: 8px;
		border-radius: 50%;
		clip-path: none;
	}
}

input[type='checkbox'],
input[type='radio'] {
	appearance: none;
	cursor: pointer;
	background-color: transparent;
}

/* Form */
.form {
	--form-space: 24px;
	--input-margin: 20px;

    width: 100%;

	&__header {
		display: flex;
	}

    &__footer {
        &.flex {
            display: flex;
            gap: 40px;

            [class*='button'] {
                flex-shrink: 0;
                width: auto;
            }

            [class*='--agree'] {
                margin-top: 0;
                flex: auto;
            }
        }
    }

	&__body + &__footer {
		margin-top: var(--form-space);
	}


	&__legend {
        color: var(--black);
		display: block;

		& + * {
			margin-top: var(--input-margin);
		}
	}

	&__item {
		input,
		textarea,
		select {
			width: 100%;
            color: var(--black);

            &::placeholder {
                color: var(--gray);
            }

            .blured &,
            .subscribe & {
                color: var(--white);
            }
		}

		& + * {
			margin-top: var(--input-margin);
		}

        .subscribe & {
            display: flex;
            align-items: center;
            border-top-left-radius: 22px;
            border-bottom-left-radius: 22px;
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
            border: 1px solid var(--gray);
            max-width: 480px;

            [type="submit"] {
                flex-shrink: 0;
            }
        }
	}

    &__content_text {
        color: var(--black);
    }

	&__footer {

        .button {
            width: 100%;
        }

		> * + * {
			margin-top: var(--form-space);
		}
	}

	&__close {
		width: 26px;
		height: 26px;
		margin-left: auto;
		margin-right: -10px;
		margin-bottom: -20px;
		transition: var(--transition);
		cursor: pointer;

		@include mobile.hover {
			transform: rotate(90deg);
		}

		svg use {
			fill: var(--brand-yellow);
		}
	}

	.label--agree {
		color: var(--gray);

		a {
            font-size: inherit;
			color: var(--black);
            text-decoration: underline;

            @include mobile.hover {
                color: var(--beige-accent);
            }
		}
	}

    @media only screen and (max-width: 680px) {
        --form-space: 16px;
        --input-margin: 12px;
    }

    @media only screen and (max-width: 480px) {
        &__close {
            margin-right: -5px;
        }
    }
}

