@use '../mixins/fluid-size' as size;

.slider {

    .swiper-slide {
        height: auto;

        > [class*="card"] {
            height: 100%;
        }
    }

    /* Специальная надстройка анимации для marquee */
    &[data-slider-type="marquee"] {
        .swiper-wrapper {
            transition-timing-function: linear !important;
        }
    }

    &[data-slider-name="home-facts"] {
        .swiper-slide {
            @include size.calculate(max-width, 480px, 1460px, 280px, 360px);
        }
    }

    &[data-slider-name="feedbacks-screen"] {
        .swiper-slide {
            @include size.calculate(max-width, 480px, 1460px, 280px, 440px);
        }
    }

    &[data-slider-name="article-posts"],
    &[data-slider-name="history-caises"],
    &[data-slider-name="events"],
    &[data-slider-name="histories"] {
        .swiper-slide {
            @include size.calculate(max-width, 480px, 1460px, 280px, 640px);
            @media only screen and (max-width: 680px) {
                max-width: 90%;
            }
        }
    }

    &[data-slider-name="mentors"] {
        .swiper-slide {
            @include size.calculate(max-width, 480px, 1460px, 280px, 360px);
        }
    }

    &[data-slider-name="feedbacks-screen"],
    &[data-slider-name="histories"] {
        .swiper-slide {
            &.swiper-slide-prev,
            &.swiper-slide-next {
                opacity: 0.3;
            }
        }
    }

    &[data-slider-name="home-partners"] {
        .swiper-slide {
            @include size.calculate(width, 480px, 1460px, 130px, 280px);
            @include size.calculate(height, 480px, 1460px, 60px, 127px);
        }
    }

    .slide-string & {
        max-height: inherit;

        .swiper-slide {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.slider-arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.slider + .slider-controls {
    @include size.calculate(margin-top, 480px, 1460px, 24px, 40px);
}